.header {
	flex: 1;
	& &__nav {
		display: flex;
		justify-content: space-between;
		.anchors__list,
		.links__list {
			display: flex;
			> li {
				font-size: 18px;
				transition: 0.3s;
				line-height: 22px;
				&:hover {
					opacity: 0.5;
				}
				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}
	}
}
