.projects-row {
	&-title {
		text-transform: uppercase;
		font-size: 64px;
		line-height: 77px;
		text-align: left;
		font-weight: 400;
		margin-bottom: 30px;
	}
	&__projects-list {
		display: flex;
		gap: 30px;
		> li {
			flex: 1 1 calc((100% / 2) - 15px);
			max-width: calc((100% / 2) - 15px);
		}
	}
}
